name: Release package

on:
  release:
    types:
      - released

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Install cario
        run: apt install -y libcairo2-dev pkg-config
      - name: Release package
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          uv version "${{ github.ref_name }}"
          uv build
          uv publish
